# git
artifact.zip
*-report.csv

# api schemas
/scripts/api-schema-generator/schemas

# dependencies
node_modules

# env vars
.env

# build
.output
.static-bundle
dist

# logs
npm-debug.log
yarn-error.log

# other
.husky
.nuxt
.nitro
.vscode
.idea
.DS_STORE
.eslintrc
.yarn
.mmdbs/*
*.p12
*.pem
certs/
test.vue

# docs
/docs
storybook-static

# @nuxtjs/pwa
sw.*
